.addBook{
    display: flex;
    flex-direction: column;
    max-width: 100px;
    text-align: center;
    padding: 20px;
    gap: 10px;
}

#display{
    /* display: grid;
    grid-auto-flow: column;
    grid-auto-rows: repeat(150px, 150px);
    grid-auto-columns: repeat(autofit, 150px);
    gap: 20px;
    height: 100vh; */
    display: flex;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
}
bookdiv{
    background-color: lightblue;
    border: solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

#remove{
    background-color: red;
    border: none;
    border-radius: 50%;
    padding: 5px;
}

#remove:hover{
    background-color: green;
}
#remove:active{
    background-color: skyblue;
}